# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Environment files
.env
.env.*
!.env.example

# Credentials
credentials.json
token.json

# Local backup & temp files
backups/
temp/
*.zip

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Log files
*.log

# Air tmp files
tmp/